@import "tailwindcss";

:root {
  --primary: #feeb9d;
  --primary-light: #fdfbf0;
  --secondary: #cc0d39;
  --white: #fff;
  --black: #000;

  --gradient: linear-gradient(307deg, #ffea96 1.9%, #ffb0b0 85.96%);

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;

  --font-yekanBakh: "yekanBakh", sans-serif;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
}
@layer utilities {
  .wrapper {
    @apply px-[8%] lg:px-[16%];
  }
}

.yekanBakh {
  font-family: "yekanBakh", sans-serif;
}

body {
  background-color: #fffaf3;
  overflow-x: hidden;
}

/* Navbar */
@layer components {
  .menu-link a {
    font-weight: 600;
    transition: var(--transition-regular);
  }
  .menu-link a:hover {
    color: var(--secondary);
  }

  .fixed-nav {
    animation: Anim-fixed var(--transition-slow) forwards linear;
    box-shadow: 0 2px 10px rgba(131, 131, 131, 0.6);
    z-index: 9999;
  }

  .fixed-nav .nav-button {
    padding: 25px 20px !important;
  }

  @keyframes Anim-fixed {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}
