@import "tailwindcss";
/* @import "@splidejs/react-splide/css"; */
:root {
  --primary: #feeb9d;
  --primary-light: #fdfbf0;
  --secondary: #cc0d39;
  --white: #fff;
  --black: #000;

  --gradient: linear-gradient(307deg, #ffea96 1.9%, #ffb0b0 85.96%);

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;

  --font-yekanBakh: "yekanBakh", sans-serif;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
}
@layer utilities {
  .wrapper {
    @apply px-[8%] lg:px-[16%];
  }

  .container {
    @apply px-[8%] lg:px-[10%] lg:ps-[16%] py-10;
  }
}

.yekanBakh {
  font-family: "yekanBakh", sans-serif;
}

body {
  background-color: #fffaf3;
  overflow-x: hidden;
}

/* Navbar-start */
@layer components {
  .menu-link a {
    font-weight: 600;
    transition: var(--transition-regular);
  }
  .menu-link a:hover {
    color: var(--secondary);
  }

  .fixed-nav {
    animation: Anim-fixed var(--transition-slow) forwards linear;
    box-shadow: 0 2px 10px rgba(131, 131, 131, 0.6);
    z-index: 9999;
  }

  .fixed-nav .nav-button {
    padding: 25px 20px !important;
  }

  @keyframes Anim-fixed {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  /* Navbar-End */

  /* Hero header-Start */
  .btn {
    position: relative;
    overflow: hidden;
    z-index: 5;
  }

  .btn::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.582),
      #ffffff00
    );
    transition: none;
    z-index: -1;
  }

  .btn:hover::after {
    right: 100%;
    transition: 0.8s;
  }

  .hero-image {
    position: relative;
  }

  .hero-image::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 78%;
    background: var(--gradient);
    z-index: -1;
    border-radius: 125px 30px 30px 30px;
  }

  .hero-shape1 {
    position: absolute;
    top: 21%;
    right: 0;
    width: 135px;
    height: 35px;
    background-image: url("../public/assets/wave-shape-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-shape2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 35px;
    transform: rotate(180deg);
    background-image: url("../public/assets/wave-shape-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-shape3 {
    position: absolute;
    top: 10%;
    right: -15%;
    width: 100px;
    height: 100px;
    background-image: url("../public/assets/hero-shape4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    animation: Anim-rotate 5s infinite linear;
  }

  .hero-shape4 {
    position: absolute;
    top: 85%;
    right: 5%;
    width: 100px;
    height: 100px;
    background-image: url("../public/assets/hero-shape3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    animation: Anim-rotate 5s infinite linear;
  }

  .border-shape1 {
    border: 1px solid #dfdfdf;
    position: absolute;
    top: 10%;
    left: -8%;
    width: 61%;
    height: 54%;
    border-radius: 150px 0 0 0;
    z-index: -1;
  }

  .border-shape2 {
    border: 1px solid #dfdfdf;
    position: absolute;
    bottom: -7%;
    right: 1%;
    width: 50%;
    height: 35%;
    border-radius: 0 0 50px 0;
    z-index: -1;
  }

  .star-shape1 {
    position: absolute;
    top: -2%;
    right: 0;
    width: 70px;
    height: 70px;
    background-image: url("../public/assets/hero-shape2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    animation: Anim-rotate 5s infinite forwards linear;
  }

  .star-shape2 {
    position: absolute;
    top: 40%;
    left: -4%;
    width: 70px;
    height: 70px;
    background-image: url("../public/assets/hero-shape2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    animation: Anim-rotate 6s infinite forwards linear;
  }

  .star-shape3 {
    position: absolute;
    top: 75%;
    right: -14%;
    width: 70px;
    height: 70px;
    background-image: url("../public/assets/hero-shape2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    animation: Anim-rotate 6s infinite forwards linear;
  }

  @keyframes Anim-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  /* Hero header-End */

  /* Category-Start */
  .category-wrap .category-card img {
    width: 100%;
    height: 350px;
    border: 4px solid var(--white);
    border-radius: 15px;
  }

  .category-wrap .category-card:nth-child(1) span,
  .category-wrap .category-card:nth-child(2) span,
  .category-wrap .category-card:nth-child(3) span {
    position: absolute;
    bottom: 30%;
    right: -5%;
  }

  .category-wrap .category-card:nth-child(4) span,
  .category-wrap .category-card:nth-child(5) span,
  .category-wrap .category-card:nth-child(6) span {
    position: absolute;
    bottom: 30%;
    left: -8%;
  }

  .category-wrap .category-card:nth-child(1) img {
    border-bottom-left-radius: 200px;
  }

  .category-wrap .category-card:nth-child(2) {
    padding: 15%;
    padding-top: 0;
  }

  .category-wrap .category-card:nth-child(2) img {
    object-fit: cover;
    object-position: top center;
    border-bottom-right-radius: 100px;
  }

  .category-wrap .category-card:nth-child(3) img {
    object-fit: cover;
    object-position: top center;
    border-bottom-left-radius: 100px;
  }

  .category-wrap .category-card:nth-child(4) {
    padding: 0 5%;
  }

  .category-wrap .category-card:nth-child(4) img {
    border-top-left-radius: 100px;
  }

  .category-wrap .category-card:nth-child(5) img {
    object-fit: cover;
    object-position: top center;
    border-top-right-radius: 100px;
  }

  .category-wrap .category-card:nth-child(6) {
    padding: 15%;
    padding-top: 0;
  }

  .category-wrap .category-card:nth-child(6) img {
    object-fit: cover;
    object-position: top center;
    border-top-left-radius: 100px;
  }
  /* Category-End */

  /*Trending-Start */
  .product-icon {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .product-icon::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.452),
      #ffffff00
    );
    transition: none;
    z-index: -1;
  }

  .product-icon:hover::after {
    right: 100%;
    transition: var(--transition-slow);
  }

  .product-btn {
    position: absolute;
    bottom: 8%;
    left: -55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: var(--transition-regular);
  }

  .product-image img {
    transition: var(--transition-regular);
  }

  .product-card:hover .product-image img {
    transform: scale(1.1);
  }

  /*Trending-End */

  /* Banner Section-Start */

  .banner {
    position: relative;
    height: 100dvh;
    width: 100%;
    background-image: url("../public/assets/Banner-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .banner-shop-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 5s linear infinite;
  }

  .banner-play-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* اگر play فقط دکوراتیوه */
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  /* Media Query Section  */
  @media (max-width: 991px) {
    .star-shape2 {
      top: 35%;
    }

    .star-shape3 {
      top: 83%;
      right: -9%;
    }

    .hero-shape3 {
      top: 1%;
      right: 84%;
    }

    .hero-shape4 {
      top: 34%;
      right: 78%;
    }

    .category-wrap .category-card img {
      height: 300px;
    }

    .category-wrap .category-card:nth-child(2) {
      padding-bottom: 0;
    }

    .banner {
      background-position: 20% center;
    }
  }

  @media (max-width: 575px) {
    .login-link {
      display: flex;
    }

    .hero-shape1 {
      width: 156px;
      height: 30px;
    }

    .hero-shape3,
    .hero-text-wrap {
      display: none;
    }

    .category-wrap .category-card img {
      height: 100px;
      border-radius: 10px;
      padding: 0%;
    }

    .category-wrap .category-card:nth-child(1) img,
    .category-wrap .category-card:nth-child(2) img,
    .category-wrap .category-card:nth-child(3) img,
    .category-wrap .category-card:nth-child(4) img,
    .category-wrap .category-card:nth-child(5) img,
    .category-wrap .category-card:nth-child(6) img {
      border-radius: 10px;
      height: 300px;
      object-fit: cover;
    }

    .category-wrap .category-card:nth-child(1),
    .category-wrap .category-card:nth-child(2),
    .category-wrap .category-card:nth-child(3),
    .category-wrap .category-card:nth-child(4),
    .category-wrap .category-card:nth-child(5) {
      padding: 0%;
    }

    .category-wrap .category-card:nth-child(6) {
      display: none;
    }

    .banner {
      background-position: 20% center;
    }

    .popular-product .product-image {
      height: 100% !important;
    }
  }

  @media (max-width: 440px) {
    .hero-content h3 {
      font-size: 2.5rem;
    }

    .login-link,
    .hero-shape1,
    .hero-shape4 {
      display: none;
    }
  }
}
